.navigation-root {
  margin-bottom: 20px;
  padding: 15px 0;
  .navigation-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .filter-root {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 15px;
    & > *:first-child {
      width: 200px;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
  .sort-root {
    & > *:first-child {
      margin-right: 10px;
    }
  }
  .navigation-footer {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    justify-content: space-between;
    font-size: 1.275rem;
  }
  .navigation-filter {
    flex: 1 1;
    margin-right: 20px;
    & > *:first-child {
      flex-grow: 1;
    }
  }
  .navigation-filter,
  .navigation-sort {
    display: flex;
    align-items: center;
    & > *:first-child {
      background-color: #ebeef0;
      padding: 5px 10px;
      margin-right: 10px;
      border-radius: 4px;
      word-break: break-all;
    }
  }
}
