.post-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-input-text {
  width: 70%;
  margin-right: 5%;
  font-size: 1.2rem;
}
