.comment-root {
  background-color: #f0ffe0;
  font-size: 1.25rem;
  width: 70%;
  padding: 10px;
  &:first-child {
    margin-top: 10px;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .comment-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .comment-reaction {
    & > * :first-child {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
