.paginate-root {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.275rem;
  align-items: center;
  .paginate-arrows {
    margin-right: 25px;
    & > *:first-child {
      margin-right: 15px;
    }
  }
}
