.comment-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-input-text {
  width: 70%;
  margin-right: 5%;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  flex-flow: column nowrap;
  & > *:first-child {
    margin-bottom: 10px;
  }
}
