.post-root {
  border-radius: 3px;
  margin-bottom: 15px;
  background-color: azure;
  color: var(--second-color);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  .post-content,
  .post-footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.35rem;
    padding: 5px 10px;
  }
  .wrapper-time {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  .post-reaction {
    & > * :first-child {
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .reaction-like {
    margin-right: 20px;
  }
  .comments-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
}
