.form-group {
  margin-bottom: 20px;
  & > *:first-child {
    padding: 0 10px;
  }
  & > *:last-child {
    margin-top: 10px;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 2px;
    border: 1px solid #ccbfbf;
  }
}
